<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body  style="background: white">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WEB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="/filiais">Filiais</a>
            <a class="nav-item nav-link" href="/funcionarios">Funcionarios</a>
            <a class="nav-item nav-link" href="/includefuncionario">Cadastrar Funcionario</a>
            <a class="nav-item nav-link" href="/includefilial">Cadastrar Filial</a>
            <a class="nav-item nav-link" href="/logout">Sair</a>
        </div>
    </div>
</nav>

<nav aria-label="breadcrumb" style="margin: 20px" >
    <ol class="breadcrumb" style="background: whitesmoke" >
        <li class="breadcrumb-item active" aria-current="page" style="background: whitesmoke">Filiais</li>
    </ol>
</nav>

<br>

<div class="card" th:each="filial : ${filiais}" style="padding: 10px; margin: 20px; background: whitesmoke">
    <h5 class="card-header"><span th:text="${filial.nome}"></span></h5>
    <div class="card-body">
        <p class="card-text"><span th:text="${filial.cidade}"></span></p>
        <p class="card-text"><span th:text="${filial.email}"></span></p>
        <p class="card-text"><span th:text="${filial.telefone}"></span></p>
        <a th:href="@{/funcionarios/filial/{id}(id=${filial.id})}" class="btn btn-primary" style="background:darkgoldenrod; border-color: burlywood; color: black">Ver Funcionarios</a>
        <a th:href="@{/filial/editar/{id}(id=${filial.id})}" class="btn btn-primary" style="background: seagreen; border-color: burlywood; color: black">Editar</a>
        <a th:href="@{/deleteFilial/{id}(id=${filial.id})}" class="btn btn-primary" style="background: firebrick; border-color: darkred; color: black">Eliminar Filial</a>
    </div>
</div>



</body>
</html>